<div class="example-large-box mat-elevation-z4">
  <h3>Id:{{Employee.id}}</h3>
  <h3>Name:{{Employee.name}}</h3>
  <h3>Email:{{Employee.email}}</h3>
  <h3>Age:{{Employee.age}}</h3>
</div>















<!--<div class="example-large-box mat-elevation-z4">-->
<!--  <ng-content></ng-content>-->
<!--  <h3>Salary:{{EmployeDetails.salary}}</h3>-->
<!--</div>-->


<!--<div class="example-small-box mat-elevation-z4">-->

<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <td><h1>Salary</h1></td>-->
<!--    <td><h1>{{EmployeDetails.salary |  currency:'Rs':'symbol-narrow'}}</h1></td>-->
<!--    </thead>-->
<!--  </table>-->
<!--</div>-->
